body {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.calc {
    border: 1px solid grey;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 225px;
    height: 420px;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    color: grey;
}

.screan {
    border: 1px solid grey;
	position: relative;
	display: inline-block;
	width: 210px;
    height: 40px;
    margin: 5px;
    overflow: hidden;
}

.btn {
    border: 1px solid grey;
	position: relative;
	display: inline-block;
	width: 40px;
    height: 40px;
    margin: 5px;
    overflow: hidden;
    /*color: gray;*/
    text-align: center;
    cursor: pointer;
}

.btn.down {
    background-color: grey!important;
}